body
{
	margin: 0px;
	overflow: hidden;
    background-color: #000000;
    -webkit-app-region: drag;
}

button
{
    -webkit-app-region: no-drag;
}

#container
{
	width: 100%;
	height: 100%;
}

img
{ /* set relative picture size */
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.buttons
{
    position: absolute;
    top: 20px;
    left: 20px;
}


#info
{
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;
}
